body {
  height: 100%;
  position: relative;
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  visibility: hidden;
  margin-top: 3em;
}

/*--- navigation bar ---*/
.navbar {
  background:#ffffff;
}
.nav-link,
.navbar-brand {
  color: blue;
  cursor: pointer;
  display: inline-block;
}
.nav-link {
	margin-right: 1em !important;
	color: black;
	font-family: futura-pt,sans-serif;
	text-transform: uppercase;
	font-size: .7rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: left;
  transition: all 0.2s ease-in-out;
}
.nav-link:hover, 
.nav-link:active {
  color: #e59fa3;
}
.navbar-collapse {
  justify-content: flex-end; 
}

.nav-link.active>a:hover {
  color: #e59fa3;
}
.nav-link.active>a:active {
  color: #e59fa3;
}


/*---- landing ----*/
.landing {
  background: url('../resources/beach.jpg') no-repeat fixed;
  background-size: cover;
  min-height: 630px;
  position: relative;

    /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing > container {
  margin-top: 0em;
}

.banner-text {
  border-left: 5px solid #e59fa3;
  padding: 15px 40px;
  color: #fff;
  margin-top: 9em;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */  
}

.banner-text h2, .banner-text p {
  font-size: 40px;
  font-weight: 400;
  font-family: 'Questrial', sans-serif;
}

.banner-text h2 span {
  font-family: 'Satisfy', cursive;
}


@media only screen and (max-device-width: 1366px) {
  .landing {
    background-attachment: scroll;
  }
}


/*--- about ------*/

.about {
  max-width: 1020px;
  margin: 0 auto;
  padding: 96px 32px;
}

.about > container-fluid {
  background: url('../resources/pinkwave1.png') no-repeat fixed;
  background-size: cover;
  background-attachment: scroll;
}

.title-text {
  font-family: "futura-pt", sans-serif;
  font-size: 42px;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 300;
  font-style: normal;
  display: inline-block;
  background: url('../resources/pinkwave2_big.png') fixed;
  background-size: contain;
  background-attachment: scroll;
}

.slogan {
  align-items: center;
}